@import 'pages/index';
@import 'base/type';
@import 'common/common';
@import 'common/header';
@import 'common/hero';
@import 'common/footer';
@import 'common/challenge';
@import 'common/touchpoint';
@import 'common/solution';
@import 'common/market';
@import 'common/news';
@import 'common/infra';
@import 'common/question';