.footer {
    padding: 64rem 136rem;

    @include sp {
        padding: 0rem 24rem;
    }
    &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 74rem;

        &-nav {
            width: 100%;
            padding: 0 155rem;
            display: flex;
            align-items: start;
            justify-content: space-between;
            
            @include sp {
                padding: 0;
                flex-direction: column;
                align-items: center;
                gap: 44rem;
            }

            &-logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12rem;

                &-link {
                    img {
                        width: 208rem;
                        height: 96rem;
                    }
                }
                &-sns {
                    width: 208rem;
                    height: 28rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8rem;

                    a.footer-sns-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 28rem;
                        height: 28rem;
                        border-radius: 50%;
                        transition: opacity 0.2s ease;

                        &:hover {
                            opacity: 0.8;
                        }

                        img {
                            width: 14rem;
                            height: 14rem;
                            display: block;
                            object-fit: contain;
                            -webkit-filter: brightness(0) saturate(100%) invert(1);
                            filter: brightness(0) saturate(100%) invert(1);
                        }

                        &-facebook {
                            background-color: #1877F2;
                        }
                        &-pinterest {
                            background-color: #E60023;
                        }
                        &-twitter {
                            background-color: #1DA1F2;
                        }
                        &-linkedin {
                            background-color: #0A66C2;
                            border-radius: 6rem;
                        }
                        &-youtube {
                            background-color: #FF0000;
                            border-radius: 6rem;
                        }
                    }
                }
            }
            &-links {
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 64rem;

                @include sp {
                    gap: 24rem;
                    flex-direction: column;
                    align-items: center;
                }

                .footer-content-nav-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 24rem;
                    &-text {
                        font-size: 14rem;
                        font-weight: 600;
                        color: #474A53;
                        font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", "MS PGothic", sans-serif;
                    }
                    &-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20rem;

                        @include sp {
                            flex-direction: row;
                            flex-wrap: wrap;
                            align-items: center;
                            row-gap: 24rem;
                            column-gap: 20rem;
                        }

                        a {
                            font-size: 14rem;
                            font-weight: 400;
                            color: #231F20;
                            font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", "MS PGothic", sans-serif;

                            @include sp {
                                color: var(--g-color-red);
                                text-decoration: none;
                                white-space: nowrap;
                                font-size: 12rem;
                            }
                        }
                    }
                }
            }
        }
        &-date {
            font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", "MS PGothic", sans-serif;
            font-size: 10rem;
            font-weight: 500;
            color: #8F97B1;
        }
    }
}