.market {
    background-image: url("/assets/img/s6_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 86rem 172rem;
    display: flex;
    gap: 42rem;
    align-items: center;
    justify-content: center;
    margin: 120rem 0 120rem 0;

    @include sp {
        flex-direction: column;
        padding: 60rem 40rem;
    }

    @include sm {
        margin: 60rem 0 60rem 0;
        gap: 22rem;
    }

    &-contact {
        padding: 43rem 40rem;
        background-color: #fff;
        border-radius: 30rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20rem;

        @include sp {
            align-items: center;
        }
        @include sm {
            padding: 20rem 24rem;
        }

        &-logo {
            width: 180px;
            height: 84px;
            display: block;

            @include sm {
                width: 142rem;
                height: 66rem;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: start;

            @include sp {
                align-items: center;
            }
            &-text1 {
                display: block;
                font-size: 25rem;
                line-height: 100%;
                font-weight: 700;
                font-style: bold;
                color: #222222;
                letter-spacing: 0%;
                font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;

                @include sm {
                    display: none;
                }
            }
            &-text2 {
                font-size: 52rem;
                line-height: 66rem;
                font-weight: 900;
                font-style: black;
                color: #222222;
                letter-spacing: 0%;
                font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;

                @include sp {
                    text-align: center;
                }
                @include sm {
                    font-size: 28rem;
                    line-height: 42rem;
                }
            }
            &-text1-sp {
                display: none;
                text-align: center;
                font-size: 18rem;
                line-height: 24rem;
                font-weight: 700;
                font-style: bold;
                color: #222222;
                letter-spacing: 0%;
                font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;

                @include sm {
                    display: block;
                }
            }
            &-text3 {
                width: 522rem;
                font-size: 14rem;
                line-height: 21rem;
                font-weight: 400;
                font-style: regular;
                color: #222222;
                letter-spacing: 0%;
                font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;

                @include sm {
                    width: 294rem;
                }
            }
        }
        &-actions {
            display: flex;
            gap: 12rem;

            @include sp {
                width: 100%;
                flex-direction: column;
            }

            .market-actions-btn {
                padding: 15rem 30rem;
                border: 1px solid #000;
                color: var(--g-color-text);
                border-radius: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10rem;
    
                @include sp {
                    padding: 16rem 15rem;
                }
                @include sm {
                    padding: 12rem 55rem;
                }
    
                &:hover {
                    opacity: 0.7;
                }
    
                .btn-text {
                    font-size: 20rem;
                    line-height: 32rem;
                    font-weight: 700;
                    font-style: bold;
                    font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;
                    font-weight: 700;
                    letter-spacing: 0%;
                }
                
                .btn-icon-arrow {
                    width: 18rem;
                    height: 18rem;
                    border-radius: 50%;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: visible;
                    position: relative;
    
                    .icon-arrow {
                        width: 4rem;
                        height: 2rem;
                        background-color: var(--g-color-red);
                    }
                    .icon-triangle {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 4rem 0 4rem 4rem;
                        border-color: transparent transparent transparent var(--g-color-red);
                    }
                }
                .btn-icon-download {
                    width: 20rem;
                    height: 20rem;
                    background-color: #FFD9C7;
                    border-radius: 50%; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    .icon-download {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 2rem;
    
                        &-btn {
                            position: relative;
                            width: 5rem;
                            height: 5rem;
                            background-color: var(--g-color-red);
                            top: -1rem;
                            
                            &::before {
                                content: "";
                                position: absolute;
                                top: 4rem;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 6rem 6rem 0 6rem;
                                border-color: var(--g-color-red) transparent transparent transparent;
                            }
                        }
                        
                        &-box {
                            width: 8rem;
                            height: 2rem;
                            background-color: var(--g-color-red);
                            margin-top: 3rem;
                        }
                    }
                }
            }
            .market-actions-arrow {
                background-color: var(--g-color-red);
                color: #fff;
                border: none;
            }
            .market-actions-download {
                background-color: #fff;
                border: 1px solid var(--g-color-red);
                color: var(--g-color-text);

                .btn-icon-download {
                    width: 28rem;
                    height: 28rem;
                }
            }
        }
    }
    &-line {
        padding: 43rem 28rem;
        border-radius: 30rem;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 25rem;

        @include sp {
            align-items: center;
        }

        @include sm {
            padding: 20rem 24rem;
        }

        &-img {
            width: 376rem;
            height: 211rem;
            border-radius: 12rem;
            display: block;
            @include sp {
                width: 550rem;
                height: 303rem;
            }
            @include sm {
                width: 294rem;
                height: 165rem;
            }
        }
        &-title {
            display: block;
            font-size: 14rem;
            line-height: 100%;
            font-weight: 700;
            font-style: bold;
            color: #222222;
            letter-spacing: 0%;
            font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;

            @include sm {
                display: none;
            }
        }
        &-title-sp {
            font-size: 14rem;
            line-height: 100%;
            font-weight: 700;
            font-style: bold;
            color: #222222;
            letter-spacing: 0%;
            font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;
            display: none;

            @include sm {
                display: block;
            }
        }
        &-text {
            font-size: 26rem;
            line-height: 100%;
            font-weight: 700;
            font-style: bold;
            color: #222222;
            letter-spacing: 0%;
            font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;

            @include sm {
                font-size: 20rem;
            }
        }
        &-btn {
            padding: 15rem 25rem;
            border: 1px solid #FF5704;
            background-color: #fff;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10rem;
            width: 50%;

            @include sp {
                width: 100%;
            }

            @include sp {
                padding: 16rem 15rem;
            }
            @include sm {
                padding: 12rem 55rem;
            }

            &:hover {
                opacity: 0.7;
            }

            .btn-text {
                font-size: 20rem;
                line-height: 32rem;
                font-weight: 700;
                font-style: bold;
                color: #111111;
                font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;
                font-weight: 700;
                letter-spacing: 0%;
                white-space: nowrap;
            }
            
            .btn-icon-arrow {
                width: 18rem;
                height: 18rem;
                border-radius: 50%;
                background-color: #FF5704;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: visible;
                position: relative;

                .icon-arrow {
                    width: 4rem;
                    height: 2rem;
                    background-color: #fff;
                }
                .icon-triangle {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 4rem 0 4rem 4rem;
                    border-color: transparent transparent transparent #fff;
                }
            }
            .btn-icon-download {
                width: 20rem;
                height: 20rem;
                background-color: #FFD9C7;
                border-radius: 50%; 
                display: flex;
                align-items: center;
                justify-content: center;

                .icon-download {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2rem;

                    &-btn {
                        position: relative;
                        width: 5rem;
                        height: 5rem;
                        background-color: var(--g-color-red);
                        top: -1rem;
                        
                        &::before {
                            content: "";
                            position: absolute;
                            top: 4rem;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 6rem 6rem 0 6rem;
                            border-color: var(--g-color-red) transparent transparent transparent;
                        }
                    }
                    
                    &-box {
                        width: 8rem;
                        height: 2rem;
                        background-color: var(--g-color-red);
                        margin-top: 3rem;
                    }
                }
            }
        }

    }
}